<%- include("partials/head") %>
            <form id="form" action="/newExam" method="POST"> 
                <!-- editar preguntas, mostrar aleatorias las preguntas al momento de exams.id -->
                <!-- si se edita, guardar versiones del examen -->
                <!-- cuando ya se vaya mandar, estudiar fildset y tranformar en objetos anidados cn la estructura de mi examSvhema: serialización -->

                <fieldset id="testComplete">
                    <legend>Crea tu propio examen</legend>
                    <input type="text" name="title" id="title" placeholder="Título">
                    <fieldset id="questionFieldset" class="questionFieldset">
                        <legend>Pregunta</legend>
                        <input type="text" name="questions.question" placeholder="Pregunta">
                        <fieldset class="answerFieldset">
                            <textarea name="questions.answers.answer" id="" placeholder="Respuesta"></textarea>
                            <section>
                                <input type="checkbox" name="questions.answers.correct">
                                <label for="questions.answers.correct">Respuesta correcta</label>
                            </section>
                        </fieldset>
                        <fieldset class="answerFieldset">
                            <textarea name="questions.answers.answer" id="" placeholder="Respuesta"></textarea>
                            <section>
                                <input type="checkbox" name="questions.answers.correct">
                                <label for="questions.answers.correct">Respuesta correcta</label>
                            </section>
                        </fieldset>
                        <fieldset class="answerFieldset">
                            <textarea name="questions.answers.answer" id="" placeholder="Respuesta"></textarea>
                            <section>
                                <input type="checkbox" name="questions.answers.correct">
                                <label for="questions.answers.correct">Respuesta correcta</label>
                            </section>
                        </fieldset>
                        <fieldset class="answerFieldset">
                            <textarea name="questions.answers.answer" id="" placeholder="Respuesta"></textarea>
                            <section>
                                <input type="checkbox" name="questions.answers.correct">
                                <label for="questions.answers.correct">Respuesta correcta</label>
                            </section>
                        </fieldset>
                    </fieldset>
                    <section id="sectionButtons">
                        <button id="btnForNewQuestion">Otra pregunta</button>
                        <button id="deleteQuestion">Eliminar Pregunta</button>
                    </section>
                </fieldset>
            </form>
            <button id="send">Crear Test</button>
<%- include("partials/footer") %>



   

