<%- include("partials/head") %>
            <section>
                <% if (signupMessage) { %>
                    <div><%= signupMessage %></div>
                <% } %>
                <form action="/signup" method="POST">
                    <fieldset>
                        <legend>Regístrate</legend>
                        <!-- El usuaio obtendrá la página (get), pero a la vez mandará a la base de datos su usuario -->
                        <input type="text" name="email" id="email" placeholder="Correo Electrónico">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <button type="submit">Registrarse</button>
                    </fieldset>
                </form>
            </section>
<%- include("partials/footer") %>