<%- include("partials/head") %>
            <section>
                <article>
                    <h2><%= title %></h2>
                </article>
            </section>
<%- include("partials/footer") %>