<%- include("partials/head") %>
            <section>
                <article>
                    <p>Feed de ExamSocial... Próximamente</p>
                </article>
            </section>
<%- include("partials/footer") %>