<%- include("partials/head") %>
            <section>
                <article>
                    <section>
                        <h1>Aprendemos en comunidad</h1>
                    </section>
                    <section>
                        <p>Haz y resuelve exámenes de cualquier materia... ¡pon a prueba tus conocimientos!</p>
                    </section>
                    <section>
                        <form action="/signup" method="POST">
                            <fieldset>
                                <legend>Regìstrate para comenzar</legend>
                                <input type="text" name="email" id="email" placeholder="Correo Electrónico">
                                <input type="password" name="password" id="password" placeholder="Contraseña">
                                <button type="submit">Registrarse</button>
                            </fieldset>
                        </form>
                    </section>
                </article>
                <article></article>
            </section>
<%- include("partials/footer") %>