<%- include("partials/head") %>
            <section>
                <h1>Profile</h1>
            </section>
            <section>
                <h2>¡Bienvenido de nuevo, <%= email %>!</h2>
                <h3>Te uniste el <%= createdAt %></h3>
            </section>
<%- include("partials/footer") %>