<%- include("partials/head") %>
            <% if (signinMessage) { %>
                <div><%= signinMessage %></div>
            <% } %>
            <form action="/signin" method="POST">
                <fieldset>
                    <legend>Iniciar Sesi칩n</legend>
                    <input type="text" name="email" id="email" placeholder="Correo Electr칩nico">
                    <input type="password" name="password" id="password" placeholder="Contrase침a">
                    <button type="submit">Iniciar sesi칩n</button>
                </fieldset>
            </form>
<%- include("partials/footer") %>